DJANGO_SECRET_KEY = django-insecure-dtj)9i6cf5%ndc+jnm!&osx)_3zm3er&kdq=gw55&*0&t!cg5h
DATABASE_NAME = "mfa_db"
DATABASE_USER = "postgres"
DATABASE_PASSWORD = ""
DATABASE_HOST = "localhost"
DATABASE_PORT = "5432"

# Gmail SMTP Configuration
# Use your Gmail address
EMAIL_HOST_USER = your-email@gmail.com
# Use an App Password (not your regular Gmail password)
# Generate at: https://myaccount.google.com/apppasswords
EMAIL_HOST_PASSWORD = your-app-password
DEFAULT_FROM_EMAIL = your-email@gmail.com