DJANGO_SECRET_KEY = django-insecure-dtj)9i6cf5%ndc+jnm!&osx)_3zm3er&kdq=gw55&*0&t!cg5h
DATABASE_NAME = "mfa_db"
DATABASE_USER = "postgres"
DATABASE_PASSWORD = ""
DATABASE_HOST = "localhost"
DATABASE_PORT = "5432"